In [0]:
import pandas as pd
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Merging the stupid csvs

In [0]:
! unzip '/content/drive/My Drive/Parallax/data.zip'

Archive:  /content/drive/My Drive/Parallax/data.zip
replace data/16/aceleracaoLinear_terra.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
accl_lin = pd.read_csv('/content/data/16/aceleracaoLinear_terra.csv')
accl_ter = pd.read_csv('/content/data/16/acelerometro_terra.csv')
camp_mag = pd.read_csv('/content/data/16/campoMagnetico_terra.csv')
giro_ter = pd.read_csv('/content/data/16/giroscopio_terra.csv')
truth = pd.read_csv('/content/data/16/groundTruth.csv')

In [0]:
accl_lin.head()

             timestamp     uptimeNanos         x         y         z
0  14/05/2016 10:54:33  11537640270059 -0.161602  0.120174 -0.209893
1  14/05/2016 10:54:33  11537650128140 -0.122628  0.315638 -0.380996
2  14/05/2016 10:54:33  11537659894659 -0.178777  0.330181 -0.360696
3  14/05/2016 10:54:33  11537679549779  0.016043  0.038759 -0.278204
4  14/05/2016 10:54:33  11537699204899  0.141716 -0.162492 -0.049796

In [0]:
accl_ter.head()

             timestamp     uptimeNanos         x         y         z
0  14/05/2016 10:54:33  11537640270059 -0.161602  0.120174  9.596758
1  14/05/2016 10:54:33  11537650128140 -0.122628  0.315638  9.425655
2  14/05/2016 10:54:33  11537659894659 -0.178777  0.330180  9.445955
3  14/05/2016 10:54:33  11537679549779  0.016043  0.038759  9.528445
4  14/05/2016 10:54:33  11537699204899  0.141716 -0.162492  9.756854

In [0]:
camp_mag.head()

             timestamp     uptimeNanos             x          y         z
0  14/05/2016 10:54:33  11537628641797 -1.184853e-07  40.994006 -7.966440
1  14/05/2016 10:54:33  11537648266397 -6.832270e-07  41.030238 -8.112972
2  14/05/2016 10:54:33  11537667890997 -1.365388e-07  40.863243 -7.899277
3  14/05/2016 10:54:33  11537667890997 -6.260234e-08  40.862746 -7.901860
4  14/05/2016 10:54:33  11537687485076 -9.552314e-07  40.778226 -8.027510

In [0]:
giro_ter.head()

             timestamp     uptimeNanos         x         y         z
0  14/05/2016 10:54:33  11537635386799 -0.070372  0.000844  0.029619
1  14/05/2016 10:54:33  11537645580604 -0.058695  0.009130  0.024406
2  14/05/2016 10:54:33  11537667280589  0.006625 -0.002283 -0.015018
3  14/05/2016 10:54:33  11537684829803  0.064933  0.033172 -0.040503
4  14/05/2016 10:54:33  11537704912208  0.039454 -0.013078 -0.007681

In [0]:
def rename_df(df, from_columns, to_columns):
    rename_dict = {}
    for f_c, to_c in zip(from_columns, to_columns):
        rename_dict[f_c] = to_c 

    df.rename(rename_dict, axis=1, inplace=True)
    return df

In [0]:
accl_lin = rename_df(accl_lin, ['timestamp', 'uptimeNanos', 'x', 'y', 'z'], ['timestamp', 'uptimeNanos', 'x_accl', 'y_accl', 'z_accl'])

In [0]:
accl_ter = rename_df(accl_ter, ['timestamp', 'uptimeNanos', 'x', 'y', 'z'], ['timestamp', 'uptimeNanos', 'x_acct', 'y_acct', 'z_acct'])

In [0]:
camp_mag = rename_df(camp_mag, ['timestamp', 'uptimeNanos', 'x', 'y', 'z'], ['timestamp', 'uptimeNanos', 'x_camp', 'y_camp', 'z_camp'])

In [0]:
giro_ter = rename_df(giro_ter, ['timestamp', 'uptimeNanos', 'x', 'y', 'z'], ['timestamp', 'uptimeNanos', 'x_giro', 'y_giro', 'z_giro'])

In [0]:
accl_lin.head()

             timestamp     uptimeNanos    x_accl    y_accl    z_accl
0  14/05/2016 10:54:33  11537640270059 -0.161602  0.120174 -0.209893
1  14/05/2016 10:54:33  11537650128140 -0.122628  0.315638 -0.380996
2  14/05/2016 10:54:33  11537659894659 -0.178777  0.330181 -0.360696
3  14/05/2016 10:54:33  11537679549779  0.016043  0.038759 -0.278204
4  14/05/2016 10:54:33  11537699204899  0.141716 -0.162492 -0.049796

In [0]:
accl_ter.head()

             timestamp     uptimeNanos    x_acct    y_acct    z_acct
0  14/05/2016 10:54:33  11537640270059 -0.161602  0.120174  9.596758
1  14/05/2016 10:54:33  11537650128140 -0.122628  0.315638  9.425655
2  14/05/2016 10:54:33  11537659894659 -0.178777  0.330180  9.445955
3  14/05/2016 10:54:33  11537679549779  0.016043  0.038759  9.528445
4  14/05/2016 10:54:33  11537699204899  0.141716 -0.162492  9.756854

In [0]:
camp_mag.head()

             timestamp     uptimeNanos        x_camp     y_camp    z_camp
0  14/05/2016 10:54:33  11537628641797 -1.184853e-07  40.994006 -7.966440
1  14/05/2016 10:54:33  11537648266397 -6.832270e-07  41.030238 -8.112972
2  14/05/2016 10:54:33  11537667890997 -1.365388e-07  40.863243 -7.899277
3  14/05/2016 10:54:33  11537667890997 -6.260234e-08  40.862746 -7.901860
4  14/05/2016 10:54:33  11537687485076 -9.552314e-07  40.778226 -8.027510

In [0]:
giro_ter.head()

             timestamp     uptimeNanos    x_giro    y_giro    z_giro
0  14/05/2016 10:54:33  11537635386799 -0.070372  0.000844  0.029619
1  14/05/2016 10:54:33  11537645580604 -0.058695  0.009130  0.024406
2  14/05/2016 10:54:33  11537667280589  0.006625 -0.002283 -0.015018
3  14/05/2016 10:54:33  11537684829803  0.064933  0.033172 -0.040503
4  14/05/2016 10:54:33  11537704912208  0.039454 -0.013078 -0.007681

In [0]:
print(giro_ter.shape)
print(camp_mag.shape)
print(accl_ter.shape)
print(accl_lin.shape)

(64645, 5)
(128956, 5)
(64645, 5)
(64645, 5)

In [0]:
camp_mag.tail(2)

                  timestamp  uptimeNanos        x_camp     y_camp     z_camp
128954  14/05/2016 11:15:42         1269 -4.479662e-07  15.153189 -10.435536
128955  14/05/2016 11:15:42         1269  2.672896e-07  15.156427 -10.430830

In [0]:
giro_ter.tail(2)

                 timestamp  uptimeNanos    x_giro    y_giro    z_giro
64643  14/05/2016 11:15:42         1269  0.179586 -0.106454  0.048294
64644  14/05/2016 11:15:42         1269  0.067985 -0.133239 -0.087171

In [0]:
truth.head()

                     evento   inicio    fim
0      evento_nao_agressivo      2.0    6.5
1   curva_direita_agressiva     19.5   23.5
2      evento_nao_agressivo     30.0   33.5
3   curva_direita_agressiva     95.0   98.0
4  curva_esquerda_agressiva    247.0  251.5

In [0]:
print(giro_ter['uptimeNanos'][0])

11537635386799

In [0]:
# print(giro_ter['uptimeNanos'])

In [0]:
def del_val(df):
    val = df['uptimeNanos'][0]
    for i in range(len(df)):
        df['uptimeNanos'][i] = round((df['uptimeNanos'][i] - val) / 10**9, 2)
    return df

In [0]:
accl_lin = del_val(accl_lin)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
giro_ter = del_val(giro_ter)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
camp_mag = del_val(camp_mag)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
accl_ter = del_val(accl_ter)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
accl_lin.head(10000)

                timestamp  uptimeNanos    x_accl    y_accl    z_accl
0     14/05/2016 10:54:33            0 -0.161602  0.120174 -0.209893
1     14/05/2016 10:54:33            0 -0.122628  0.315638 -0.380996
2     14/05/2016 10:54:33            0 -0.178777  0.330181 -0.360696
3     14/05/2016 10:54:33            0  0.016043  0.038759 -0.278204
4     14/05/2016 10:54:33            0  0.141716 -0.162492 -0.049796
...                   ...          ...       ...       ...       ...
9995  14/05/2016 10:57:49          196 -1.212559  0.463410 -0.000673
9996  14/05/2016 10:57:49          196 -1.191521  0.601507 -0.105348
9997  14/05/2016 10:57:49          196 -0.386142  0.035446 -0.139077
9998  14/05/2016 10:57:49          196  0.128908 -0.301962 -0.167732
9999  14/05/2016 10:57:49          196 -0.248131  0.134943 -0.763512

[10000 rows x 5 columns]

In [0]:
truth.head(10)

                     evento   inicio    fim
0      evento_nao_agressivo      2.0    6.5
1   curva_direita_agressiva     19.5   23.5
2      evento_nao_agressivo     30.0   33.5
3   curva_direita_agressiva     95.0   98.0
4  curva_esquerda_agressiva    247.0  251.5
5  curva_esquerda_agressiva    348.7  352.3
6      evento_nao_agressivo    485.0  489.0
7  curva_esquerda_agressiva    496.0  499.5
8   curva_direita_agressiva    587.0  590.0
9  curva_esquerda_agressiva    750.0  753.8

In [0]:
# df_train = giro_ter['']

In [0]:
camp_mag.to_csv('camp_mag16.csv')
accl_lin.to_csv('accl_lin16.csv')
giro_ter.to_csv('giro_ter16.csv')
accl_ter.to_csv('accl_ter16.csv')