In [0]:
import pandas as pd
import numpy as np

In [0]:
truth = pd.read_csv('/content/groundTruth.csv')
dataset = pd.read_csv('/content/dataset.csv')

In [0]:
dataset.head()

   no  uptimeNanos    x_acct    y_acct  ...    z_giro    x_accl    y_accl    z_accl
0   0            0 -0.161602  0.120174  ...  0.029619 -0.161602  0.120174 -0.209893
1   1            0 -0.122628  0.315638  ...  0.024406 -0.122628  0.315638 -0.380996
2   2            0 -0.178777  0.330180  ... -0.015018 -0.178777  0.330181 -0.360696
3   3            0  0.016043  0.038759  ... -0.040503  0.016043  0.038759 -0.278204
4   4            0  0.141716 -0.162492  ... -0.007681  0.141716 -0.162492 -0.049796

[5 rows x 11 columns]

In [0]:
truth.head()

                     evento   inicio    fim
0      evento_nao_agressivo      2.0    6.5
1   curva_direita_agressiva     19.5   23.5
2      evento_nao_agressivo     30.0   33.5
3   curva_direita_agressiva     95.0   98.0
4  curva_esquerda_agressiva    247.0  251.5

In [0]:
d = {'curva_direita_agressiva': 0,
 'curva_esquerda_agressiva': 1,
 'evento_nao_agressivo': 2,
 'troca_faixa_direita_agressiva': 3}

In [0]:
for i in range(len(truth)):
    truth['evento'][i] = d[truth['evento'][i]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
truth.head()

  evento   inicio    fim
0      2      2.0    6.5
1      0     19.5   23.5
2      2     30.0   33.5
3      0     95.0   98.0
4      1    247.0  251.5

In [0]:
print(truth.columns)

Index(['evento', ' inicio', ' fim'], dtype='object')

In [0]:
def create_dataset():
    train_data = []
    labels = []
    j = 0
    for i in range(len(dataset)):
        while(dataset['uptimeNanos'][i] >= truth[' inicio'][j] and dataset['uptimeNanos'][i] < truth['fim'][j]):
            train_data.append([dataset['x_acct'][i], dataset['y_acct'][i], dataset['z_acct'][i], 
                               dataset['x_giro'][i], dataset['y_giro'][i], dataset['z_giro'][i],
                               dataset['x_accl'][i], dataset['y_accl'][i], dataset['z_accl'][i]])
        else:
            j += 1    
    return(np.array(train_data))

In [0]:
train_data = create_dataset()